.body-shopping-container {
    padding: 25px 180px;
    width: 100%;
}

.header-shopping {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
}

.header-shopping-product-div {
    display: flex;



}

.header-shopping-product-p-margin {
    margin-left: 110px;
}

.header-shopping-product-p {
    border-top: 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    color: #222;

}

.items-shopping {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.left-items-shopping {
    display: flex;
    align-items: center;
}

.left-items-shopping-p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    margin-left: 10px;
}

.rigth-items-price,
.rigth-items-total {
    font-size: 15px;
    color: #222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
    font-weight: 500;
}

.item-count {
    display: flex;
    flex-direction: row;

}

.item-count-button {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        padding: 2px;
        cursor: pointer;
        border: 1px solid #eee;
    }



}

.item-count-p {
    margin-inline: 5px;
}

.up-arrow {
    padding: 2px;
    cursor: pointer;
    border: 1px solid #eee;
    height: 20px;

}

.down-arrow {
    padding: 2px;
    cursor: pointer;
    border: 1px solid #eee;
}

.rigth-items-shopping {
    display: flex;
    margin-top: 40px;
}

.item-count,
.rigth-items-total {
    margin-left: 90px;
}

.rigth-update-cart {
    display: flex;
    justify-content: space-between;
}

.update-container {
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
    border-bottom: 1px solid #eee;
}

.update-cart {
    padding: 7px 45px;
    font-size: 15px;
    background: #f9f9ff;
    border: 1px solid #f9f9ff;
    color: #222;
    border-radius: 15px;

}

.rigth-update-input {
    padding: 0px 10px 0 18px;
    border-radius: 30px;
    border: 1px solid #eeeeee;
    height: 40px;
    font-size: 14px;
    color: #cccccc;
    font-weight: normal;
    margin-right: 10px;
}

.apply-button {
    height: 40px;
    line-height: 38px;
    text-transform: uppercase;
    background: #384aeb;
    padding: 0px 38px;
    margin-right: 5px;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    border: 1px solid white;
}

.apply-coupon {
    padding: 7px 45px;
    font-size: 15px;
    background: #f9f9ff;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    color: #222;
}

.subTotal-div {
    display: flex;
    justify-content: flex-end;
    padding-block: 35px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.subTotal-h5 {
    font-size: 15px;
    color: #222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
    line-height: 1.1;
}

.subTotal-price-h5 {
    font-size: 15px;
    color: #222;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
    margin-left: 100px;
}

.shipping-down-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-block: 20px;
    border-bottom: 1px solid #eee;
}

.shipping-down-first-section-h5 {
    font-size: 15px;

    line-height: 1.1;
    font-weight: bolder;
}

.shipping-down-first-section {
    display: flex;
}

.first-section-rigth {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

.input-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;

    & p {
        font-size: 15px;
        color: #777;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        padding-right: 10px;
    }

    & input {
        margin-left: auto;
    }

}

.shipping-down-second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.shipping-down-second-section {
    display: flex;
    flex-direction: column;
}

.shipping-down-second-section-h5 {
    font-weight: normal;
    color: #222;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;

    line-height: 1.1;
}

.shipping-down-second-section-select {
    display: flex;
    flex-direction: column;

    & select {
        display: block;
        width: 350px;
        background: #f1f6f7;
        border: 1px solid #eeeeee;
        height: 40px;
        color: #999999;
        margin-bottom: 20px;
        padding-inline: 10px;
    }

    & input {
        display: block;
        width: 350px;
        background: #f1f6f7;
        border: 1px solid #eeeeee;
        height: 40px;
        color: #999999;
        margin-bottom: 20px;
        padding-inline: 13px;
    }
}

.update-details {
    line-height: 38px;
    background: #f1f6f7;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 0px 44px;
    display: inline-block;
    color: #222;
    text-transform: capitalize;
    font-weight: 500;
}

.continue-a {

    background: #f1f6f7;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    padding: 10px 44px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;

}
.proceed-a{

    padding: 10px 44px;
    text-transform: capitalize;
    background: #384aeb;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
}
.proceed-checkout {
    padding-block: 20px;
    
    display: flex;
    justify-content: flex-end;
 
}
@media(max-width:1200px){
    .body-shopping-container {
        padding: 25px 110px;

    }
    .header-shopping-product-p-margin {
        margin-left: 90px;
    }
    .item-count,
.rigth-items-total {
    margin-left: 70px;
}
}

@media(max-width:981px){
    .body-shopping-container {
        padding: 25px 80px;

    }
    .header-shopping-product-p-margin {
        margin-left: 70px;
    }
    .item-count,
.rigth-items-total {
    margin-left: 50px;
}

.left-items-shopping-p {
    color: #777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    margin-left: 10px;
    max-width: 100px;
}
.apply-coupon {
    padding: 7px 10px;
    font-size: 15px;
    background: #f9f9ff;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    color: #222;
}
.update-cart {
    padding: 7px 25px;
    font-size: 15px;
    background: #f9f9ff;
    border: 1px solid #f9f9ff;
    color: #222;
    border-radius: 15px;
    margin-right: 15px;
}
.update-container {
    display: flex;
    justify-content: center;
    padding-block: 30px;
    border-bottom: 1px solid #eee;
}

}

@media(max-width:767px){
    .body-shopping-container {
        padding: 25px 70px;

    }
    .apply-coupon {
        display: none;
    }

}
@media(max-width:676px){
    .body-shopping-container {
        padding: 25px 40px;
        

    }
    .left-items-shopping{
        flex-direction: column;
        justify-content: center;
    }
    .shipping-down-second-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .left-items-shopping-p{
      margin-top: 5px;
    }
}
@media(max-width:536px){
    .body-shopping-container {
        padding: 25px 25px;
        

    }
    .continue-a {

        padding: 10px 20px;
    
    
    }
    .proceed-a{
    
        padding: 10px 20px;
    
    }
    .header-shopping-product-p-margin {
        margin-left: 40px;
    }
    .item-count,
.rigth-items-total {
    margin-left: 20px;
}
.left-items-shopping{
    margin-top: 15px;
}
.left-items-shopping img{
    width: 100px;
    
}
.rigth-update-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apply-button {
 
 
    margin-top: 10px;
}
.update-cart {
    padding: 5px 20px;
    font-size: 15px;
    background: #f9f9ff;
    border: 1px solid #f9f9ff;
    color: #222;
    border-radius: 15px;
    height: 40px;

}
.shipping-down-second-section-select{
    & select {
        display: block;
        width: 250px;
        background: #f1f6f7;
        border: 1px solid #eeeeee;
        height: 40px;
        color: #999999;
        margin-bottom: 20px;
        padding-inline: 10px;
    }

    & input {
        display: block;
        width: 250px;
        background: #f1f6f7;
        border: 1px solid #eeeeee;
        height: 40px;
        color: #999999;
        margin-bottom: 20px;
        padding-inline: 13px;
    }
}
.continue-a {

    padding: 10px 10px;


}
.proceed-a{

    padding: 10px 10px;

}
}