.topProduct-container{

    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
    
}
.topProduct-container img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    cursor: pointer;

}
.topProduct-a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #222;
    margin-bottom: 10px;
}
.topProduct-p{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}
.topProduct-container:hover .topProduct-a{
    color: #384aeb;
}